extend default


block content
    link(rel="stylesheet", type="text/css" href="/lib/css/magnific-popup.css")
    #streamsettings(class="white-popup mfp-hide")
        .form-nab
            h2="Stream Settings"
            form(id="streamSettingsForm", method="get")
                #streamFields
                input(type="button", id="addChart", value="+")
                br
                br
                input(type="submit", value="Save settings")
    h1.
        Streams
    .stable
        .srow.header
            .scell.
                Type
            .scell.
                Global
            .scell.
                Local
            .scell.
                Client
            .scell.
                index
            .scell.
                Lastest value
            .scell.
                Lastest value - timestamp
            .scell.


        each stream in streamlist
            .srow
                .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                    img(src=stream.image_type_url, class="imageIcons" title=stream.message_name)
                .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                    |#{stream.global}
                .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                    |#{stream.local}
                .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                    |#{stream.client_id}
                .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                    |#{stream.stream_index}
                if stream.message_type == 10
                    .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                        img(src="http://"+stream.latestvalue, class="imageCam")
                else
                    .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                        | #{stream.latestvalue}
                if stream.ts_diff < 1
                    .scell(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                        | #{stream.update_ts}
                else
                    .scell.red(onclick="location.href='/stream?sid="+stream.sid+"&mid="+stream.message_type+"&startdate="+stream.latest_value_date+"';", style="cursor: pointer;")
                        | #{stream.update_ts} (#{stream.ts_diff} hours)
                .scell
                    a(href="#streamsettings", class="settings-link" data-streamid=stream.sid, data-msgtype=stream.message_type)
                        img(src="/img/icons/action-switches.svg", class="imageIcons", style="cursor: pointer;")

        script(type="text/javascript", src="/lib/js/jquery.magnific-popup.min.js")
        script(type="text/javascript", src="/js/settings.js")

        script.
            $('.settings-link').magnificPopup({
                  type:'inline',
                  midClick: true
            });
